.connect_with_us label p {
  margin-bottom: 5px;
  font-size: 13px !important;
}
#sms_login {
  display: none;
}
.connect_with_us label input {
  width: 100%;
  border: 1px solid #98c1d9;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 43px;
  border-radius: 8px;
}
#coworking_icon {
  font-size: 50px;
}
#button_mutaxasis_link {
  opacity: 0.5;
}
@media (max-width: 1024px) {
  #coworking_icon {
    font-size: 30px;
  }
}
.connect_with_us label div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link_mas {
  width: 120px;
  font-size: 13px !important;
  border-bottom: 1px solid #3d5a80;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
}
.nomerEdit {
  border-bottom: 1px solid #3d5a80;
  cursor: pointer;
  display: none;
}
.connect_with_us {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #2932419b;
  z-index: 1000000;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
}
.connect_with_us_div {
  width: 444px;
  max-width: 100%;
  margin: 15px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.connect_with_us_div h1 {
  font-size: 25px;
  color: #3d5a80;
  font-weight: 700;
  margin-bottom: 10px;
}
.connect_with_us_div_close {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 10px;
}
.connect_with_us_div_close i {
  padding: 2px;
  color: white;
  background-color: rgba(128, 128, 128, 0.553);
  border-radius: 50%;
  cursor: pointer;
}
.connect_with_us_div_buuton1 {
  background-color: #3d5a80 !important;
}
.connect_with_us_div_buuton2 {
  background-color: #fff !important;
  color: #3d5a80 !important;
  border: 1px solid #3d5a80;
}
.connect_with_us_div button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .connect_with_us_div h1 {
    font-size: 20px;
  }
  .connect_with_us_div button {
    font-size: 15px;
    margin-top: 5px;
  }
  .connect_with_us_div {
    padding: 15px;
  }
  .Filtir_big_div {
    width: 73% !important;
  }
  .Filter_big_div_search {
    width: 73% !important;
  }
}
@media (max-width: 639px) {
  .Filtir_big_div {
    width: 94% !important;
  }
  .Filter_big_div_search {
    width: 94% !important;
  }
  .filial_big_div_mutahasis_div {
    padding: 15px !important;
  }
  .filial_big_div_mutahasis_div_close {
    margin-right: -5px !important;
    margin-top: -5px !important;
  }
  .filial_big_map_div {
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
  }
  .filial_big_map_div_one {
    width: 100%;
    padding-top: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px;
    padding-bottom: 15px;
  }
  #map {
    width: 100% !important;
    height: 50% !important;
  }
}
.Filtir_big {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  transition: 0.4s;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  z-index: 100;
}
.Filtir_big_div {
  width: 67%;
  height: 100%;
  overflow: scroll;
  display: block;
  position: relative;
}
.Filtir_big_div::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
.Filtir_big_div_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.Filtir_big_div_title h1 {
  font-size: 28px;
  font-weight: 800;
}
.Filtir_big_div_title i {
  font-size: 30px;
  cursor: pointer;
}
.Filtir_big_div label p {
  font-size: 12px;
  font-weight: 900;
}
.Filtir_big_div label div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #98c1d9;
  height: 48px;
  border-radius: 10px;
  margin-top: 5px;
  gap: 10px;
}
.Filtir_big_div label div h1 {
  margin-left: 15px;
  opacity: 0.8;
}
.Filtir_big_div label div i {
  margin-right: 10px;
  font-size: 30px;
  opacity: 0.8;
}
.Filtir_big_div label div input {
  width: 47%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #98c1d9;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}
.Filtir_big_div label div span {
  width: 20px;
  height: 2px;
  background-color: #3d5a80;
}
.Filtir_big_div label input {
  width: 100%;
  height: 48px;
  outline: none;
  border: 1px solid #98c1d9;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.Filtir_big_div label {
  margin-top: 100px;
}
.checkbox_big_div {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 70px;
}
.checkbox_big_div p {
  font-size: 12px;
  font-weight: 900;
}
.checkbox_big_div div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.checkbox_big_div div input {
  width: 18px;
  height: 18px;
  border: 2px solid #98c1d9 !important;
  cursor: pointer;
}
.checkbox_big_div div input:checked {
  background: red !important;
}
.checkbox_big_div div input:focus {
  color: #98c1d9 !important;
}
.checkbox_big_div div p {
  font-weight: 600;
}
.Filter_big_div_search {
  position: fixed;
  bottom: 20px;
  width: 66.3%;
  height: 48px;
  color: white;
  background-color: #3d5a80;
  border-radius: 10px;
  font-weight: 800;
  font-size: 25px;
  display: none;
  /* margin-bottom: 100px; */
}
.select_index {
  display: none;
  width: 100% !important;
  position: absolute;
  top: -10px;
  border-radius: 15px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 6px 24px rgb(26 61 107/16%);
  background-color: #fff;
  z-index: 100;
  border: none !important;
  height: auto !important;
}
.select_index h1 {
  padding-left: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  cursor: pointer;
}
.select_index h1:hover {
  background-color: rgba(61, 90, 128, 0.12);
}
.data_div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  z-index: 1000;
}
.filial_master_big_img_div {
  width: 95px;
  min-width: 95px;
  height: 70px;
  min-height: 70px;
  border-radius: 7px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.filial_master_big_img_div img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.filial_master_big_img_div_text {
  position: absolute;
  bottom: 0;
  border-radius: 7px;
  display: flex;
  align-items: end;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent 56.25%,
    rgb(0 0 0/0.6) 73.44%,
    rgb(0 0 0/0.6)
  );
}
.filial_master_big_img_div_text p {
  border-bottom: 1px solid white;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  height: 12px;
}
#Filial_get {
  border-bottom: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
}
#filial_big {
  width: 90%;
  display: flex;
  align-items: start;
  gap: 17px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.filial_master_big_div_money {
  color: #3d5a80;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
}
.filial_master_big_div_time_number {
  padding: 3px 8px 3px 8px;
  color: #3d5a80;
  border-radius: 10px;
  border: 1px solid #98c1d9;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
}
.login_xato_red {
  color: red;
  font-size: 13px;
  display: none;
}
.filial_master_big_div_time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
}
.filial_master_big_div_money {
  margin-left: 3%;
}
.filial_master_big_div_button {
  display: none;
}
.filial_big_time_div {
  width: 43%;
}
.filial_big_Specialization {
  width: 21.5%;
}
.filial_big_title {
  font-size: 13px;
  color: #98c1d9;
  margin-bottom: 5px;
  display: none;
}
.filial_big_input {
  width: 90px;
  outline: none;
  background: none !important;
}

@media (max-width: 768px) {
  #filial_big {
    width: 100%;
    flex-wrap: wrap;
  }
  .filial_big_time_div {
    width: 100%;
    /* max-width: 100%; */
  }
  .filial_big_title {
    display: block;
  }
  .filial_master_big_div_button {
    display: block;
    background-color: #3d5a80;
    color: white;
    font-weight: 800;
    width: 200px;
    max-width: 77%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 10px;
  }
}

.filial_big_div_mutahasis {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2932419b;
  z-index: 10000;
  display: none;
}
.filial_big_div_mutahasis_div::-webkit-scrollbar {
  display: none;
}
.filial_big_div_mutahasis_div {
  background-color: #fff;
  width: 450px;
  max-height: 90%;
  max-width: 100%;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 5px 25px 5px 25px;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
.filial_big_div_mutahasis_div_close {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 5px;
  margin-right: -15px;
}
.filial_big_div_mutahasis_div_close i {
  padding: 1px;
  font-size: 20px;
  background-color: #cacaca;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.filial_big_div_mutahasis_div_title {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
}
.filial_big_div_mutahasis_div_button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3d5a80;
  color: #fff;
  border-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.filial_big_div_mutahasis_div_title_small {
  font-size: 15px;
  font-weight: 800;
  color: #3d5a80;
  margin-top: 10px;
  margin-bottom: 10px;
}
.filial_big_map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #2932419b;
  z-index: 10000;
}
.filial_big_map_div {
  width: 870px;
  max-width: 100%;
  border-radius: 10px;
  background-color: white;
  height: 93vh;
  display: flex;
  align-items: start;
  gap: 20px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 10px;
  position: relative;
}
.filial_big_map_div::-webkit-scrollbar {
  display: none;
}
.filial_big_map_div_one {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-left: 15px;
}
.filial_big_map_div_close i {
  padding: 2px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: #dcdcdc;
  border-radius: 50%;
  color: #fff;
  z-index: 10000000000000;
}

.select_index1 {
  display: none;
  width: 100% !important;
  position: absolute;
  top: -10px;
  border-radius: 15px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 6px 24px rgb(26 61 107/16%);
  background-color: #fff;
  z-index: 100;
  border: none !important;
  height: auto !important;
}
.select_index1 h1 {
  padding-left: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  cursor: pointer;
}
.select_index1 h1:hover {
  background-color: rgba(61, 90, 128, 0.12);
}
.filial_big_div_sharh {
  width: 100%;
}
.swiper1 {
  width: 100% !important;
  height: 100% !important;
}

.swiper1 .swiper-slide {
  width: 300px !important;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}
.filial_sharh_div {
  width: 100%;
  margin: auto;
  padding: 15px;
}
.filial_sharh_div_text_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filial_sharh_div_text_one_stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
.filial_sharh_div_text_one_stars {
  color: #fa6000;
  cursor: pointer;
}
.filial_sharh_div p {
  --tw-text-opacity: 1;
  color: rgb(41 50 65 / var(--tw-text-opacity));
  font-weight: 300;
  font-size: 15px;
  text-align: start;
}
.filial_sharh_div h1 {
  font-weight: 800;
  color: #3d5a80;
  font-size: 17px;
  text-align: start;
}
.filial_sharh_div_text_one p {
  font-weight: 600;
}
.booking_input_div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.booking_title {
  font-size: 14px;
  font-weight: 600;
}
.booking_address {
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  #booking_big_div_two {
    display: flex !important;
    flex-direction: column-reverse;
  }
  #booking_swiper_div {
    width: 100%;
  }
  .booking_address {
    margin-bottom: 10px;
  }
}

.booking_input_name_div {
  width: 100%;
}
.booking_input_name_div p {
  font-size: 12px;
  color: #3d5a80;
  margin-bottom: 4px;
}
.booking_input_name_div button {
  width: 100%;
  height: 50px;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #98c1d9;
  color: grey;
}
.booking_select {
  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 400px;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 6px 24px rgb(26 61 107/16%);
  z-index: 100;
  border-radius: 15px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
}
.booking_select_option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3d5a80;
  cursor: pointer;
}
.booking_select_option img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.booking_select_option:hover {
  background-color: #dcdcdc;
}
.booking_select_map{
  display: flex;
  align-items: center;
  gap: 10px;
}
.booking_select_map img{
width:60px;
height: 50px;
}
.notranslate{
  display: flex;
  align-items: center;
  justify-content: start;
}
.booking-type{
  overflow: hidden;
}
.booking_time_div{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0 6px 24px rgb(26 61 107/16%);
  z-index: 100;
  border-radius: 10px !important;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.booking_time_div_h1{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3d5a80;
  cursor: pointer;
}
.booking_time_div_h1:hover{
  background-color: #dcdcdc;
}
#time_select_none{
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
}
.index_filter_disrit{
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  box-shadow: 0 6px 24px rgb(26 61 107/16%);
  z-index: 100;
  border-radius: 10px !important;
  background-color: #fff;
  max-height: 300px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}
.index_filter_disrit p{
  font-size: 15px;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 5px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.index_filter_disrit h1{
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.index_filter_disrit h1:hover{
  background-color: #e5e7eb;
}