.connect_with_us label p{
    margin-bottom: 5px;
    font-size: 13px !important;
  }
  #sms_login{
    display: none;
  }
  .connect_with_us label input{
    width: 100%;
    border: 1px solid #98c1d9;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 43px;
    border-radius: 8px;
  }
  #coworking_icon{
    font-size: 50px;
  }
  @media (max-width:1024px) {
    #coworking_icon{
      font-size: 30px;
    }
  }
   .connect_with_us label  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
  .link_mas{
    width: 92px;
    font-size: 13px !important;
    border-bottom: 1px solid #3d5a80;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .nomerEdit{
    border-bottom: 1px solid #3d5a80;
    cursor: pointer;
    display: none;
  }
.connect_with_us{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #2932419b;
  z-index: 1000000;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
}
.connect_with_us_div{
  width: 444px;
  max-width: 100%;
  margin: 15px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.connect_with_us_div h1{
font-size: 25px;
color: #3d5a80;
font-weight: 700;
margin-bottom: 10px;
}
.connect_with_us_div_close{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 10px;
}
.connect_with_us_div_close i{
  padding: 2px;
  color: white;
  background-color: rgba(128, 128, 128, 0.553);
  border-radius: 50%;
  cursor: pointer;
}
.connect_with_us_div_buuton1{
  background-color: #3d5a80 !important;
}
.connect_with_us_div_buuton2{
  background-color: #fff !important;
  color: #3d5a80 !important;
  border: 1px solid #3d5a80;
}
.connect_with_us_div button{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-weight: 700;
   font-size: 20px;
   border-radius: 8px;
   margin-top: 10px;
}
@media (max-width: 768px) {
  .connect_with_us_div h1{
    font-size: 20px;
  }
  .connect_with_us_div button{
    font-size: 15px;
    margin-top: 5px;
  }
  .connect_with_us_div{
    padding: 15px;
  }
  .Filtir_big_div{
  width: 73% !important;
  }
  .Filter_big_div_search{
    width: 73% !important;
  }
}
@media (max-width:639px) {
  .Filtir_big_div{
    width: 94% !important;
    }
  .Filter_big_div_search{
    width: 94% !important;
  }
}
.Filtir_big{
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  transition: 0.4s;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px; 
  z-index: 100
}
.Filtir_big_div{
  width: 67%;
  height: 100%;
  overflow: scroll;
  display: block;
  position: relative;
}
.Filtir_big_div::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
.Filtir_big_div_title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.Filtir_big_div_title h1{
  font-size: 28px;
  font-weight: 800;
}
.Filtir_big_div_title i{
font-size: 30px;
cursor: pointer;
}
.Filtir_big_div label p{
  font-size: 12px;
  font-weight: 900;
}
.Filtir_big_div label div{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
border: 1px solid #98c1d9;
height: 48px;
border-radius: 10px;
margin-top: 5px;
gap: 10px;
}
.Filtir_big_div label div h1{
margin-left: 15px;
opacity: 0.8;
}
.Filtir_big_div label div i{
  margin-right: 10px;
  font-size: 30px;
  opacity: 0.8;
}
.Filtir_big_div label div input{
  width: 47%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #98c1d9;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}
.Filtir_big_div label div span{
 width: 20px;
 height: 2px;
 background-color: #3d5a80;
}
.Filtir_big_div label input{
  width: 100%;
  height: 48px;
  outline: none;
  border: 1px solid #98c1d9;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.Filtir_big_div label{
  margin-top: 100px;
}
.checkbox_big_div{
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 70px;
}
.checkbox_big_div p{
  font-size: 12px;
  font-weight: 900;
}
.checkbox_big_div div{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.checkbox_big_div  div input{
  width: 18px;
  height: 18px;
  border: 2px solid #98c1d9 !important;
  cursor: pointer;
}
.checkbox_big_div  div input:checked{
background: red !important;
}
.checkbox_big_div  div input:focus{
color: #98c1d9 !important; 
}
.checkbox_big_div  div p{
font-weight: 600;
}
.Filter_big_div_search{
position: fixed;
bottom: 20px;
width: 66.3%;
height: 48px;
color: white;
background-color: #3d5a80;
border-radius: 10px;
font-weight: 800;
font-size: 25px;
display: none;
/* margin-bottom: 100px; */
}
.select_index{
  display: none;
  width: 100% !important;
  position: absolute;
  top: -10px;
  border-radius: 15px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 6px 24px rgb(26 61 107/16%);
  background-color: #fff;
  z-index:100;
  border:none !important;
  height:auto !important;
  
}
.select_index h1{
  padding-left: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  cursor: pointer;
}
.select_index h1:hover{
  background-color: rgba(61, 90, 128, 0.12);
}
.data_div{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:none;
  z-index:1000;
}
